

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;  
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.contenerdor {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #000;
}

.contenerdor h1 {
    font-size: 200px;
    font-family:'Montserrat', sans-serif;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}

.contenerdor a {
    text-decoration: none;
    background: seagreen;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: .5s;
}

.contenerdor a:hover {
    background: lightseagreen;
    color: #000;
}


/** MQ **/
@media (max-width: 450px) {
    
    .contenerdor h1 {
        font-size: 100px;
    }
}