@charset "UTF-8";
/******* FONTS ******/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanalei&display=swap");
/** VARIABLES **/
/** btn, iconos media **/
/** MIXINS **/
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/water-1330252_1920.jpg");
  background-position: center;
  background-size: cover;
}

/** NAVEGACIÓN **/
header {
  width: 100%;
  padding: 0 100px;
}

.navbar-brand {
  margin-right: 27rem;
}

.nav-item {
  margin: 10px;
}

.nav-item .nav-link,
.nav-item .dropdown-item {
  font-weight: 600;
}

.nav-item .nav-link:hover,
.nav-item .dropdown-item:hover {
  background-color: #318aac;
  border-radius: 10px 50px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.titulo span {
  font-family: 'Caveat', cursive;
  color: #fff;
}

/* FIN, NAVEGACION **/
/** INICIO, TARJETA DE CONTACTO **/
.form-contact {
  margin: 0 35px;
}

.form-contact h2 {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-size: 40px;
  margin: 0 0 10px;
}

.form-contact .formulario {
  display: flex;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 30px 30px 30px 30px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.507);
  margin: 0 100px 20px 100px;
  /** IMAGEN **/
}

.form-contact .formulario .imagen__form {
  width: 50%;
  height: auto;
  background-color: #fff;
  border-radius: 0 30px 30px 0px;
}

.form-contact .formulario .imagen__form .imagen__form-img {
  width: 500px;
  height: auto;
  position: absolute;
  margin: 40px 25px;
  right: 120px;
  border-radius: 0 30px 30px 0px;
}

.form-contact .formulario .contenedor {
  border: none;
  max-height: 500px;
}

.form-contact .formulario .contenedor .contenedor__titulo {
  font-size: 16px;
  color: black;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.form-contact .formulario .contenedor .contenedor__campo {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-inf {
  padding-left: 15px;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-inf .input-text {
  width: 80%;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  outline: none;
}

.form-contact .formulario .contenedor .contenedor__campo p {
  margin: 10px auto;
}

.form-contact .formulario .contenedor .contenedor__campo .opciones {
  border: none;
  padding: 5px;
  font-size: 13px;
  color: white;
  background-color: #318aac;
  text-align: center;
  margin: 0 auto;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-mensaje {
  max-height: 200px;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-mensaje .input-text {
  width: 80%;
  border: none;
  padding: 10px;
  border-radius: 2px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  outline: none;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-btn {
  margin: 15px 25px;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-btn .boton-mensaje {
  /** $fontsize-extras, $colortreciario, $colortreciario **/
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  padding: 10px 20px;
  background: #318aac;
  border: 2px solid;
  border-radius: 20px 50px;
  color: lightcyan;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
}

.form-contact .formulario .contenedor .contenedor__campo .contenedor__campo-btn .boton-mensaje:hover {
  color: #fff !important;
  box-shadow: 0 4px 16px #318aac;
  transition: all 0.2s ease;
}
/*# sourceMappingURL=contacto.css.map */