@charset "UTF-8";
/** GLOBALES **/
/** btn, iconos media **/
/** MIXINS **/
/** FIN, GLOBALES **/
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/water-1330252_1920.jpg");
  background-position: center;
  background-size: cover; }

/**INICIO, NAVEGACIÓN **/
header {
  width: 100%;
  padding: 0 100px; }

.navbar-brand {
  margin-right: 27rem; }

.nav-item {
  margin: 10px; }
  .nav-item .nav-link,
  .nav-item .dropdown-item {
    font-weight: 600; }
    .nav-item .nav-link:hover,
    .nav-item .dropdown-item:hover {
      background-color: #318aac;
      border-radius: 10px 50px; }

h1 {
  font-size: 30px;
  text-transform: uppercase; }

.titulo span {
  font-family: 'Caveat', cursive;
  color: #fff; }

/** FIN, NAVEGACIÓN **/
/** Main **/
.card {
  width: 100%;
  margin: 5% auto; }

.img-fluid {
  height: 100%; }
