/******* FONTS ******/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Hanalei&display=swap');

/** INICIO, Globales **/
$colorprimario: #000;
$colorsecundario: #fff;
$colortreciario: rgb(1, 27, 66);
$color-linknav: #318aac;


$fontsize-logo: 30px;
$fontsize-titulo: 40px;
$fontsize-parrafos: 14px;
$fontsize-extras: 15px; /** btn, iconos media **/

/** MIXINS **/
@mixin reset-mp {
    margin: 0;
    padding: 0;
}

@mixin input-text {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 2px;
    background:transparent;
    border: none;
    border-bottom: 1px solid black;
    color: black;
    outline: none;
}

@mixin BTN ($fontsize, $background, $colorborde){    /** $fontsize-extras, $colortreciario, $colortreciario **/
    font-size: $fontsize;
    font-weight: 600;
    margin-top: 5px;
    padding: 10px 20px;                
    background: $background;
    border: 2px solid;
    border-radius: 20px 50px;
    color: lightcyan;
    border-color: $colorborde;
    transition: all 1s ease;
    position: relative;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    @include reset-mp();
    background-image: url('../img/water-1330252_1920.jpg');
    background-position:center;
    background-size: cover;
    
}
/** NAVEGACIÓN **/
header {
    
    width: 100%;
    padding: 0 100px;
}
    .navbar-brand {
        margin-right: 27rem;
        
    }
    
    
    .nav-item {
        margin: 10px;
        font-weight: 600; 
        &:hover {
            background-color: $color-linknav;
            border-radius: 10px 50px;
        }
        & .dropdown-item {
            font-weight: 600; 
          &:hover {
            background-color: $color-linknav;
            border-radius: 10px 50px;
          }
        }
  
      }



    h1 {
        font-size: $fontsize-logo;
        text-transform: uppercase;
        font-weight: 800;
    }
    .titulo span {
        font-family: 'Caveat', cursive;  
        color: $colorsecundario;
    }
/* FIN, NAVEGACION **/

/** INICIO, TARJETA DE CONTACTO **/
.form-contact {
    margin: 0 35px;

    
    & h2 {
        text-transform: uppercase;
        text-align: center;
        color: $colorprimario;
        font-size: $fontsize-titulo;
        margin: 0 0 10px;
    }

    & .formulario {
        display: flex;
        background-color: rgba(255, 255, 255, 0.459);
        border-radius: 30px 30px 30px 30px;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.507);
        margin: 0 100px 20px 100px;

         /** IMAGEN **/
         & .imagen__form {
            width: 50%;
            height: auto;
            background-color: #fff;
            border-radius: 0 30px 30px 0px;

            & .imagen__form-img {
                width: 500px;
                height: auto;
                position: absolute;
                margin: 40px 25px;
                right: 120px;
                border-radius: 0 30px 30px 0px;
            }
        }

        & .contenedor {
            border: none;
            max-height: 500px;

            & .contenedor__titulo {
                font-size: 16px;
                color: black;
                font-weight: 600;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-transform: uppercase;
                text-align: center;
                margin-top: 10px;
            }

            & .contenedor__campo {
                margin: 5px;
                display: flex;
                flex-direction: column;
                
                & .contenedor__campo-inf {
                    padding-left: 15px;
                    
                    & .input-text {
                        @include input-text()
                    }
                }
                & p {
                    margin: 10px auto;
                }

                & .opciones {
                    border: none;
                    padding: 5px;
                    font-size: 13px;
                    color: white;
                    background-color: $colortreciario;
                    text-align: center;
                    margin: 0 auto;
                }

                & .contenedor__campo-mensaje {
                    max-height: 200px;

                    & .input-text {
                        @include input-text()
                    }
                }
                & .contenedor__campo-btn {
                    margin: 15px 25px;

                    & .boton-mensaje {  
                    @include BTN ($fontsize-extras, $colortreciario , $colortreciario);
        
                        &:hover {
                            color: $colorsecundario !important;
                            box-shadow: 0 4px 16px $colortreciario;
                            transition: all 0.2s ease;
                        }
        
                    }
                }
            }

        }
    } 
}       


/** MQ **/
@media only screen and (max-width : 800px) {
    header{
        @include reset-mp;
  
        .navbar-brand {
          margin-right: 0;
          margin-left: 2rem;
          
      }
    }
    .navbar-toggler {
      background: rgb(2,0,36);
      background: rgb(14,64,98);
      background: radial-gradient(circle, rgba(14,64,98,1) 0%, rgba(49,138,172,1) 100%);
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.178);
      height: 34px;
      width: 44px;
      padding: 0;
      font-size: 16px;
      border-radius: 20px 50px;
  
      & .fa {
        color: $colorsecundario;
      }
    }
    .navbar-light .navbar-toggler {
      color: $color-linknav;
      border: none;
    }
    .nav-item,
    .dropdown-menu li {
      text-align: center;  
    }


    .form-contact {

        & h2 {
            font-size: 30px;
            margin: 1rem;
        }

        & .formulario {

            flex-direction: column-reverse;
            
            & .contenedor {
                max-height: inherit;
                margin: 0 10px;

                & .contenedor__campo {
                    margin-left: 0;
                }
                
                & .contenedor__campo-mensaje {
                    margin-left: 15px
                }
            }

            & .imagen__form {
                width: 100%;
                background: transparent;
         
                   & .imagen__form-img {
                    max-width: 500px;
                    height: auto;
                    position: initial;
                    width: 100%;
                    margin: 0;
                    border-radius: 30px 30px 0px 0;
           
                }
            }
        }
    }
    

}




/** MQ **/

@media (max-width : 450px) {

    header{
        @include reset-mp; 
        
        .navbar-brand {
          margin-right: 0;
        }
        h1 {
          font-size: 25px;
        }
    }
    .navbar-brand {
        margin-right: 1rem;
        margin-left: 2rem;
    }
    .navbar-toggler {
      background: rgb(14,64,98);
      background: radial-gradient(circle, rgba(14,64,98,1) 0%, rgba(49,138,172,1) 100%);
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.178);
      height: 34px;
      width: 44px;
      padding: 0;
      font-size: 16px;
      border-radius: 20px 50px;
  
      & .fa {
        color: $colorsecundario;
      }
    }
    .navbar-light .navbar-toggler {
      color: $colortreciario;
      border: none;
    }
    .nav-item,
    .dropdown-menu li {
      text-align: center;  
    }
    /** FIN, nav **/ 


    .form-contact {
        
        & .formulario {
            flex-direction: column-reverse;
            margin: auto;

            & .contenedor {
                max-height: inherit;
                
                & .contenedor__campo {
                    margin-left: 0;
                }
                
                & .contenedor__campo-mensaje {
                    margin-left: 15px
                }
            }
        }

        
    }

    

}
   