/** GLOBALES **/
$colorprimario: #000;
$colorsecundario: #fff;
$colortreciario: #318aac;

$fontsize-logo: 30px;
$fontsize-titulo: 45px;
$fontsize-parrafos: 14px;
$fontsize-extras: 15px; /** btn, iconos media **/

/** MIXINS **/
@mixin reset-mp {
    margin: 0;
    padding: 0;
}

/** FIN, GLOBALES **/

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../img/water-1330252_1920.jpg');
    background-position:center;
    background-size: cover;
}

/**INICIO, NAVEGACIÓN **/
header {
    
    width: 100%;
    padding: 0 100px;
}
.navbar-brand {
    margin-right: 27rem;
    
}
.nav-item {
    margin: 10px;
    
    & .nav-link,
    & .dropdown-item {
        font-weight: 600;
        
        &:hover {
            background-color: $colortreciario;
            border-radius: 10px 50px;
        }
    }
}

h1 {
    font-size: $fontsize-logo;
    text-transform: uppercase;
}

.titulo span {
    font-family: 'Caveat', cursive;  
    color: $colorsecundario;
}
/** FIN, NAVEGACIÓN **/

/** Main **/
.contenedor {
    height: 100%;
    margin: 20px 80px;

    & h1{
        text-align: center;
        font-family: 'Caveat', cursive;  
        transition: ease .5s; 
        margin-bottom: 30px;
    }

    & .nosotros {
        height: 80%;
        display: flex;
        flex-direction:row-reverse;
        padding: 10px;
        background: rgba( 255, 255, 255, 0.30 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20.0px );
        -webkit-backdrop-filter: blur( 20.0px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        


        
        /** Imagen **/

        & .nosotros__contenido-img {
            padding-left: 10px;
            padding-right: 50px; 
            margin-top: auto;
            margin-bottom: auto;

            & .img {
                width: 500px;
                height: 600px;
                border-radius: 20px;
                margin: 0;
                padding: 0;
    
            }

        }
        

        & .nosotros__contenido {
            width: 100%;
            padding: 0 10px;
            height: auto;  
            & .nosotros__contenido-logo {
                text-align: center;
                color: $colorprimario;
            }
            & .nosotros__contenido-logo span {
                color: $colortreciario;
                font-family: 'Caveat', cursive;
                font-size: 30px;
                text-transform: uppercase;
            }
            & .nosotros__contenido-mision,
            & .nosotros__contenido-vision {
                margin-left: 170px;
                text-align: center;
                color: $colorprimario;
                border-bottom: solid $colortreciario 2px;
                width: 300px;
            }
            & .nosotros__contenido-attcliente {
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                font-size: 12px;
                margin-top: 10px;
                margin-bottom: 0;
            } 

            & .nosotros__contenido-texto1,
            & .nosotros__contenido-texto2,
            & .nosotros__contenido-texto3 {
                line-height: 25px;
                margin: 0;
                color: $colorprimario;
                font-family:Arial, Helvetica, sans-serif;
                padding-bottom: 10px;
            }
             
          
        }
    }

}





.contenedor .nosotros .texto-1 {
    margin-bottom: 20px;
}
.contenedor .nosotros .texto-2 {
    margin-bottom: 20px;
}

